.App {
  text-align: center;
}

.rooms-table {
  padding: 24px;
}

.start-time-picker, .end-time-picker {
  padding: 16px;

  display: inline-block;
}

.start-time-picker > label, .end-time-picker > label {
  margin-right: 16px;
}
